// Form styles
#formCreateFolder {
    display: none;
}

#formUploadFolder {
    display: none;
}

#formUpdateFolder{
    display: none;
}

.inputForm {
    max-width: 300px;
    width: 100%;
    background: $gray-200;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;



    @media screen and (max-width: 768px) {
        padding: 20px;
        margin: 30px auto;
    }

    &-title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
        color: $gray-800;
        text-align: left;

        .fa-xmark {
            float: right;
            color: $gray-800;
        }
    }

    &-body {
        display: block;
        padding-bottom: 30px;
    }

    &-button {
        display: block;
        text-align: right;
    }
}

.uploadForm {
    max-width: 300px;
    width: 100%;
    background: $gray-200;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;



    @media screen and (max-width: 768px) {
        padding: 20px;
        margin: 30px auto;
    }

    &-title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
        color: $gray-800;
        text-align: left;

        .fa-xmark {
            float: right;
            color: $gray-800;
        }
    }

    &-body {
        display: block;
        padding-bottom: 30px;
    }

    &-button {
        display: block;
        text-align: right;
    }
}

.updateForm {
    max-width: 300px;
    width: 100%;
    background: $gray-200;
    margin: 50px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
    padding: 30px;

    @media screen and (max-width: 768px) {
        padding: 20px;
        margin: 30px auto;
    }

    &-title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
        color: $gray-800;
        text-align: left;

        .fa-xmark {
            float: right;
            color: $gray-800;
        }
    }

    &-body {
        display: block;
        padding-bottom: 30px;
    }

    &-button {
        display: block;
        text-align: right;
    }
}