// //Navigation styles
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    height: 60px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: $colorGrayMain;
}

.menu {
    // width: 60%;
    height: 100%;
    float: left;

    .faColor {
        color: #9a9b9a
    }

    .space-add {
        display: none;
    }

    ul {
        width: 100%;
        height: inherit;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;

        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        a {
            width: fit-content;
            height: inherit;
            display: inline-block;
            margin-right: 30px;
            margin-left: 7px;
            color: $colorTextSecondary;
            font-size: $sizeTextNav;
            border-radius: 3px;

            i {
                font-size: $sizeIcon;
                color: $colorIcon;
            }

            &:hover {
                background: #a2a8ab;
                transition: 0.5s;
            }
        }
    }

    #menuToggle {
        display: none;
    }
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;

        .space-add {
            display: block;
        }
    }

    .menu ul {
        display: block;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
    }

    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #f4f4f4;
        padding: 10px 0px 10px 5%;
        margin-left: 0;
    }

    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }

    #menuToggle:checked~ul {
        max-height: 100%;
    }

    .menu-icon i {
        font-size: 1.7em;
    }
}