//Table styles
#documentTable {
    color: $gray-800;
    width: 100%;
    border-collapse: collapse;
    margin-left: 30px;

    caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
        text-align: left;
    }

    tr {
        border-bottom: 1px solid #ddd;
        padding: .35em;
    }

    th {
        @include tableIcon(#d8d8d8);
        text-align: left;
        font-size: .85em;
        letter-spacing: .1em;
        &:nth-child(1) {
            padding-left: 40px;
        }
    }

    td {
        @include tableIcon(#fcfcfc);
        text-align: left;
        &:nth-child(1) {
            padding-left: 40px;
        }
    }
}

.new-item {
    position: relative;
    color: red;
    font-size: 8px;

    &::before {
        content: "new";
    }

    display: table-caption;
    left: -10px;
}

@media screen and (max-width: 768px) {
    #documentTable {
        margin-left: 0;

        caption {
            font-size: 1.3em;
            margin-left: 0;
        }

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;

            .hidden-style {
                display: none;
            }
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: left;

            &:nth-child(1) {
                padding-left: 0;
            }

            &::before {
                content: attr(data-label); //Lay data lable cua row
                float: left;
                text-align: left;
                font-weight: bold;
                text-transform: capitalize;
                font-style: italic;
                width: 110px;
            }

            &:first-child {
                text-align: right;
                background: $gray-200;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

    }
}