// Define variables
$sizeTextNav: 13;
$sizeIcon: 13;
// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start purple-color-variables
$purple-100: #FDD8F7 !default;
$purple-200: #FDA5EE !default;
$purple-300: #F278DE !default;
$purple-400: #D945C0 !default;
$purple-500: #B8179D !default;
$purple-600: #9D0C84 !default;
$purple-700: #780264 !default;
$purple-800: #560048 !default;
$purple-900: #38002E !default;
// scss-docs-end purple-color-variables

$border-radius-main: 3px;

//Navbar

// scss-docs-start navbar-variables
$navbar-font-size: 18px !default;
$navbar-font-size-sm: 15px !default;
$navbar-font-size-sm-bars-icon: 16px !default;

$navbar-toggler-transition: 0 0.3s !default;
// scss-docs-end navbar-variables

// scss-docs-start navbar-theme-variables
$navbar-color: $gray-200 !default;
$navbar-color-strong: $gray-600 !default;
$navbar-hover-color: $gray-500 !default;
$navbar-hover-transition: 0.5s;
$navbar-icon-main-color: $purple-600;
$navbar-icon-border-radius: 5px;
// scss-docs-end navbar-theme-variables

//Tables

// scss-docs-start table-variables
$table-color: $gray-900 !default;
$table-color-second: $gray-600 !default;

$table-font-size-caption: 40px;
$table-font-size-caption-sm: 25px;
$table-font-size:19px;
$table-font-size-header:18px;
$table-font-size-span-new:10px;
// scss-docs-end table-variables