@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Open+Sans:wght@300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  width: 100%;
  height: 60px;
  line-height: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.menu {
  height: 100%;
  float: left;
}

.menu .faColor {
  color: #9a9b9a;
}

.menu .space-add {
  display: none;
}

.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.menu ul a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: inherit;
  display: inline-block;
  margin-right: 30px;
  margin-left: 7px;
  color: #9a9b9a;
  font-size: 13;
  border-radius: 3px;
}

.menu ul a i {
  font-size: 13;
  color: #9c577d;
}

.menu ul a:hover {
  background: #a2a8ab;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu #menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
  }
  .menu .space-add {
    display: block;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }
  .menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    padding: 10px 0px 10px 5%;
    margin-left: 0;
  }
  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
  }
  #menuToggle:checked ~ ul {
    max-height: 100%;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}

#documentTable {
  color: #716565;
  width: 100%;
  border-collapse: collapse;
  margin-left: 30px;
}

#documentTable caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  text-align: left;
}

#documentTable tr {
  border-bottom: 1px solid #ddd;
  padding: .35em;
}

#documentTable th {
  border-bottom: 1px solid #d8d8d8;
  padding: 8px;
  text-align: left;
  font-size: .85em;
  letter-spacing: .1em;
}

#documentTable th i {
  margin-right: 1vh;
}

#documentTable td {
  border-bottom: 1px solid #fcfcfc;
  padding: 8px;
  text-align: left;
}

#documentTable td i {
  margin-right: 1vh;
}

@media screen and (max-width: 768px) {
  #documentTable {
    margin-left: 0;
  }
  #documentTable caption {
    font-size: 1.3em;
    margin-left: 0;
  }
  #documentTable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #documentTable tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  #documentTable tr .hidden-style {
    display: none;
  }
  #documentTable td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  #documentTable td::before {
    content: attr(data-label);
    float: left;
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
    width: 110px;
  }
  #documentTable td:first-child {
    text-align: right;
    background: #f4f4f4;
  }
  #documentTable td:last-child {
    border-bottom: 0;
  }
}
/*# sourceMappingURL=home-page.css.map */